/* 页头 */

.site-head {
    width: 100%;
    height: 161px;
}


/* 顶部 */

.site-head .header-top {
    background-color: #0058AA;
    width: 100%;
    height: 40px;
}

.site-head .header-top .tele {
    float: right;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 40px;
}


/* 导航 */

.site-head .main-nav {
    background-color: #fff;
    width: 100%;
    height: 121px;
    overflow: hidden;
}

.site-head .main-nav h1 {
    float: left;
    font-size: 64px;
    color: #0058AA;
    line-height: 121px;
}


/* 菜单列表 */

.site-head .main-nav .center-wrap .menu-list {
    float: left;
    margin-left: 80px;
}

.site-head .main-nav .center-wrap .menu-list .menu-li {
    float: left;
    width: 64px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 60px;
}

.site-head .main-nav .center-wrap .menu-list .menu-li:last-child {
    margin-right: 0px;
}

.site-head .main-nav .center-wrap .menu-list .menu-li .menu-text {
    font-size: 16px;
    color: #545454;
}

.site-head .main-nav .center-wrap .menu-list .menu-li .icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}


/* home */

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-home {
    background: url("../../images/mujiaju/home-gry.png") no-repeat center center;
}

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-home:hover {
    background: #0058AA url("../../images/mujiaju/home-white.png") no-repeat center center;
}


/* about */

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-abouts {
    background: url("../../images/mujiaju/abouts-gry.png") no-repeat center center;
}

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-abouts:hover {
    background: #0058AA url("../../images/mujiaju/abouts-white.png") no-repeat center center;
}


/* build */

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-kefu {
    background: url("../../images/mujiaju/kefu-gry.png") no-repeat center center;
}

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-kefu:hover {
    background: #0058AA url("../../images/mujiaju/kefu-white.png") no-repeat center center;
}


/* product */

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-chanpin {
    background: url("../../images/mujiaju/chanpin-gry.png") no-repeat center center;
}

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-chanpin:hover {
    background: #0058AA url("../../images/mujiaju/chanpin-white.png") no-repeat center center;
}


/* service */

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-fuwu {
    background: url("../../images/mujiaju/fuwu-gry.png") no-repeat center center;
}

.site-head .main-nav .center-wrap .menu-list .menu-li .icon.icon-fuwu:hover {
    background: #0058AA url("../../images/mujiaju/fuwu-white.png") no-repeat center center;
}

.site-head .main-nav .center-wrap .menu-list .menu-li .icon>img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
}


/* search */

.site-head .main-nav .center-wrap .search {
    float: right;
    width: 272px;
    height: 38px;
    margin-top: 50px;
    margin-bottom: 34px;
    position: relative;
}

.site-head .main-nav .center-wrap .search .text-search {
    width: 222px;
    height: 34px;
    border: 1px solid #D3D3D3;
    position: absolute;
    top: 0px;
    left: 0px;
}

.site-head .main-nav .center-wrap .search .btn-search {
    display: inline-block;
    width: 48px;
    height: 38px;
    background: #0058AA url(../../images/mujiaju/search.png) no-repeat center center;
    background-size: 32px 32px;
    position: absolute;
    top: 0px;
    right: 0px;
}


/* banner */

.banner {
    width: 100%;
    height: 650px;
}

.banner .img-box {
    width: 100%;
    height: 650px;
    background: url(../../images/mujiaju/banner01.png) no-repeat center center;
}


/* 精品推荐 */

.recommend {
    width: 100%;
    height: 590px;
    background-color: #EFF0F4;
}


/* 新闻中心 */

.press-center {
    width: 100%;
    height: 545px;
}


/* footer */

.site-foot {
    width: 100%;
}

.site-foot .foot-top {
    height: 210px;
    background-color: #06142F;
}

.site-foot .foot-bottom {
    height: 30px;
    background-color: #202C46;
}